checkpoint/*
102flowers/*
cub_birds_200_2011/*
bow_c10/*
images/*
samples/*
text_c10/*
w2v_c10/*
word_c10/*
samples/main*
backup/
*.txt
*.pdf
*.pyc
*.jpg
*.png
.DS_Store
._*
*.pickle
train_txt2im_wrong_image.py
*gz